/* Chart */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0;
gap: 60px;

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

/* Inside auto layout */

/* _Chart bar */

/* Series 1 */

/* Primary/300 */

/* Bar */

margin: 0 auto;
width: 16px;
height: 82px;

/* Inside auto layout */
flex: none;
order: 13;
align-self: stretch;
flex-grow: 0;

/* _Chart bar */

/* Series 1 */

position: absolute;
inset: 0%;

/* Primary/300 */
background: #d6bbfb;
