@use "@styles/breakpoint";
@use "@styles/space";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: space.$s6;

  /* reset list styles */
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: breakpoint.$desktop) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: auto;

  @media (max-width: breakpoint.$desktop) {
    display: flex;
    width: auto;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loadingCircle {
  animation: rotation 1.5s infinite linear;
  display: flex;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
