@use "@styles/breakpoint";
@use "@styles/space";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: space.$s6;

  /* reset list styles */
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: breakpoint.$desktop) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: auto;

  @media (max-width: breakpoint.$desktop) {
    display: flex;
    width: auto;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loadingCircle {
  animation: rotation 1.5s infinite linear;
  display: flex;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.alertBox {
  width: auto;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--error-300, #fda29b);
  background: var(--error-25, #fffbfa);

  // @media (max-width: breakpoint.$desktop) {
  //   display: flex;
  //   padding: 16px;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 12px;
  //   align-self: stretch;
  //   border-radius: 8px;
  //   border: 1px solid var(--error-300, #fda29b);
  //   background: var(--error-25, #fffbfa);
  // }
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;

  @media (max-width: breakpoint.$desktop) {
    align-items: center;
  }
}

.supportingText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  color: var(--error-700, #b42318);

  /* Text sm/Medium */
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.actions {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.button {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
}

.buttonBase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tryAgain {
  color: var(--error-700, #b42318);

  /* Text sm/Medium */
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  text-decoration: none;
}
